*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kulim Park";
    font-size: 1.1em;
}

header {
    text-decoration: underline;
}

h1 {
    font-family: "Rubik Dirt";
    font-style: normal;
    font-weight: 250;
    margin: 1rem;
    text-align: center;
}

/* Style the form with a width, a centered margin, padding, border, border-radius, background-color, and a display layout of grid. */

form {
    width: 750px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid;
    border-radius: .5rem;
    background-color: blanchedalmond;
    display: grid;
}

fieldset {
    display: grid;
    gap: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
}

fieldset legend {
    display: grid;
    font-weight: bold;
    padding: 3px;
    font-size: 1.1em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 5px;
    font-size: 1.1em;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    width: 80px;
    margin: 2px;
}

 footer {
    margin: 1rem;
    text-align: center;
    border-top: solid 1px;
    padding: 2rem;

 }

 .form-item {
    display: grid;
    align-items: center;
 }

 .column1 {
    grid-template-columns: 3fr 1fr;
 }

 .column2 {
    grid-template-columns: 1fr 2fr;
 }
